@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-f: linear-gradient(
    -135deg,
    hsl(225deg 11% 93%) 0%,
    hsl(226deg 11% 92%) 20%,
    hsl(227deg 11% 90%) 29%,
    hsl(227deg 12% 89%) 36%,
    hsl(228deg 13% 88%) 43%,
    hsl(229deg 13% 87%) 50%,
    hsl(230deg 14% 86%) 57%,
    hsl(232deg 14% 84%) 64%,
    hsl(233deg 14% 83%) 71%,
    hsl(234deg 14% 82%) 80%,
    hsl(236deg 14% 80%) 100%
  );
  --line-color: #050505;
  --text-primary: #fafafa;
  --btn-primary-bg: rgb(229 231 235 / var(--tw-bg-opacity));
  --btn-primary-border: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
}

html[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background: linear-gradient(
    135deg,
    hsl(225deg 11% 7%) 0%,
    hsl(226deg 11% 8%) 20%,
    hsl(227deg 11% 10%) 29%,
    hsl(227deg 12% 11%) 36%,
    hsl(228deg 13% 12%) 43%,
    hsl(229deg 13% 13%) 50%,
    hsl(230deg 14% 14%) 57%,
    hsl(232deg 14% 16%) 64%,
    hsl(233deg 14% 17%) 71%,
    hsl(234deg 14% 18%) 80%,
    hsl(236deg 14% 20%) 100%
  );
  --line-color: #f5f5f5;
  --text-primary: #0a0a0a;
  --btn-primary-bg: rgb(31 41 55 / var(--tw-bg-opacity));
  --btn-primary-border: rgb(31 41 55 / var(--tw-border-opacity));
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: var(--background);
  min-height: 100vh;
}

@font-face {
  font-family: "FiraMono";
  src: url("/assets/fonts/FiraMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.textColor {
  color: var(--text-primary);
  font-family: FiraMono, Verdana, sans-serif;
}

