@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-f: linear-gradient(
    -135deg,
    hsl(225deg 11% 93%) 0%,
    hsl(226deg 11% 92%) 20%,
    hsl(227deg 11% 90%) 29%,
    hsl(227deg 12% 89%) 36%,
    hsl(228deg 13% 88%) 43%,
    hsl(229deg 13% 87%) 50%,
    hsl(230deg 14% 86%) 57%,
    hsl(232deg 14% 84%) 64%,
    hsl(233deg 14% 83%) 71%,
    hsl(234deg 14% 82%) 80%,
    hsl(236deg 14% 80%) 100%
  );
  --line-color: #050505;
  --text-primary: #fafafa;
  --btn-primary-bg: rgb(229 231 235 / var(--tw-bg-opacity));
  --btn-primary-border: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background: linear-gradient(
    135deg,
    hsl(225deg 11% 7%) 0%,
    hsl(226deg 11% 8%) 20%,
    hsl(227deg 11% 10%) 29%,
    hsl(227deg 12% 11%) 36%,
    hsl(228deg 13% 12%) 43%,
    hsl(229deg 13% 13%) 50%,
    hsl(230deg 14% 14%) 57%,
    hsl(232deg 14% 16%) 64%,
    hsl(233deg 14% 17%) 71%,
    hsl(234deg 14% 18%) 80%,
    hsl(236deg 14% 20%) 100%
  );
  --line-color: #f5f5f5;
  --text-primary: #0a0a0a;
  --btn-primary-bg: rgb(31 41 55 / var(--tw-bg-opacity));
  --btn-primary-border: rgb(31 41 55 / var(--tw-border-opacity));
}

main {
  color: rgb(var(--foreground-rgb));
  background-image: var(--background);
}

@font-face {
  font-family: "Jost";
  src: url("Jost-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ShareTechMono";
  src: url("FiraMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.tinyLineContainer {
  scale: 2;
  width: 50%;
  margin: 0 auto;
  height: 20px;
  top: 25px;
}

.tinyLine {
  position: absolute;
  /* Cuts off the bottom half of the pattern */
  height: 20px;
  /* For better cross browser consistency, make it larger with width.  */
  width: 1000%;
  /* And then scale it back down with scale, recentering with translateX. */
  transform: translateX(-45%) scale(0.1);
}

.tinyLine1 {
  background: linear-gradient(
    45deg,
    transparent,
    transparent 49%,
    var(--line-color) 49%,
    transparent 51%
  );
}
.tinyLine2 {
  background: linear-gradient(
    -45deg,
    transparent,
    transparent 49%,
    var(--line-color) 49%,
    transparent 51%
  );
}
.tinyLine {
  /* Must be after background definition. */
  background-size: 40px 40px;
}

.shadows {
  margin-top: 16px;
}

.textColor {
  color: --text-primary;
  font-family: ShareTechMono, Verdana, sans-serif;
}

.btn-primary {
  background: var(--btn-primary-bg);
  @apply flex text-xs lg:text-sm gap-2 items-center bg-opacity-5 p-2 px-4 rounded-lg;
}

.btn-primary:hover {
  border-color: var(--btn-primary-border);
}
